<form method="POST" action="/pirates">
        <div>
          <label for="name">Name:</label>
          <input type="text" name="name">
        </div>
        <div>
            <label for="birthplace">Birthplace:</label>
            <input type="text" name="birthplace">
        </div>
         <div>
            <label for="Year of Death">Year of Death:</label>
            <input type="text" name="Year of Death">
        </div>
         <div>
            <label for="base">Base:</label>
            <input type="text" name="base">
        </div>
         <div>
            <label for="nickname">Nickname:</label>
            <input type="text" name="nickname">
        </div>
<button>Submit!</button>
      </form>